<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permiso para acceder a las redes moviles -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuelosMeli">
        <activity
            android:name="ar.teamrocket.duelosmeli.ui.duelActivities.DuelOverActivity"
            android:exported="false" />
        <activity
            android:name="ar.teamrocket.duelosmeli.ui.duelActivities.DuelActivity"
            android:exported="false" />
        <activity
            android:name="ar.teamrocket.duelosmeli.ui.duelActivities.NewDuelActivity"
            android:exported="false" />
        <activity
            android:name="ar.teamrocket.duelosmeli.ui.ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.DuelosMeli" />
        <activity
            android:name=".ui.HowToPlayActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userProfileEdit.EditUserProfile"
            android:exported="false" />
        <activity
            android:name=".ui.userProfile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.multiplayerActivities.view.MultiplayerGamePartialResultActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.multiplayerActivities.view.MultiplayerGameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.multiplayerActivities.view.MultiplayerGameReadyActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.multiplayerActivities.view.NewMultiplayerGameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.singleplayerActivities.views.GameOverActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.singleplayerActivities.views.GameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DuelosMeli.GameActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.singleplayerActivities.views.NewGameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Cambiar orientation de la pantalla del lector de QR -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>